


.v-dialog {
  border-radius: 15px !important
}

.w100{
  width: 100%;
}
.bg-white{
  background-color: #fff;
}

.margin{
  margin-bottom: 15px;
}
.margin-top{
  margin-top:10px
}
.margin-right-10{
  margin-right:10px
}

body {
  font-size: 1rem;
  font-family: Vazir,sans-serif;
  direction: rtl;
}
.container {
  margin: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 1366px!important;
}
.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgba(226,232,240,var(--tw-bg-opacity));
}

.w-6 {
  width: 1.5rem;
}
.h-6 {
  height: 1.5rem;
}
.cursor-pointer {
  cursor: pointer;
}
.font-bold {
  font-weight: 700;
}

.hover\:text-red-500:hover {
  --tw-text-opacity: 1;
  color: rgba(239,68,68,var(--tw-text-opacity));
}
.text-red-500 {
  --tw-text-opacity: 1;
  color: rgba(239,68,68,var(--tw-text-opacity));
}